@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ------ BANNER ------- */
.over-the-fold{
    height: 100vh;
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

/* ------ HEADER ------- */
.header {
    height: 100vh;
    padding-top: 3rem;
  }
  
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-left: 2rem;

  }

.logo{
    height: 5rem;
    width: 20rem;
    margin-right: auto;
}

.navbar {
    align-items: center;
    display: flex;
  }
  
  .navbar__item {
    list-style: none;
    font-size: 1.2rem;
    margin: 2rem;
  }
  
  .navbar__link {
    color: white;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
  }
  
  .navbar__link--btn {
    background-color: white;
    color: hsl(212, 27%, 19%);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  
  .navbar__link--btn:hover {
    background: #6edaf7;
    color: white;
  }
  
  .hamburger {
    background: none;
    border-radius: 0;
    width: 35px;
    cursor: pointer;
    margin: -1.5rem 2rem 0 0;
    border: none;
  }
  
  .hamburger__line {
    background: white;
    display: block;
    height: 3px;
    width: 85%;
    margin-bottom: 6px;
  }

.over-the-fold-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 42%;
}

.over-the-fold-h{
    color: white;
    font-family: 'Fraunces', sans-serif;
    font-size: 5rem;
}

.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
.contact{
    background-color: white;
    color: hsl(212, 27%, 19%);
    padding: .5rem 1.5rem;
    text-align: center;
    border-radius: 30px;
    margin-right: 2rem;
}
/*  */
.otf-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
}
.title-home{
    font-size: 6rem;
    color: white;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    margin-top: -20rem;
    text-transform: uppercase;
}




.container{
    display: flex;
}
.container-2{
    display: flex;
    flex-direction: row-reverse;
}

.seccion-derecha{
    width: 100%;
}
.img-1{
    width: 100%;
    height: 100%;
}

.seccion-izquierda{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-info{
    padding: 8rem;
}

.section-title{
    font-family: "Fraunces", sans-serif;
    font-size: 2.5rem;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    margin-bottom: 1rem;
}
.description{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-weight: normal;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}
.button{
    font-family: "Fraunces", sans-serif;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    text-decoration-line: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-thickness: 5px;  

}

.button-2{
    text-decoration-color: hsl(7, 99%, 70%);
}

.container-3{
    display: flex;
}
.graphic{
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;

}


.photog{
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}
.section-title-2{
    font-family: "Fraunces", sans-serif;
    font-size: 2.5rem;
    color:  hsl(167, 40%, 24%);
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 30%;
}
.description-2{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
}

.testimonials{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8rem 0 8rem;
}

.testimonials-container{
    display: flex;
    padding: 4rem 4rem 4rem 4rem;
}

.title{
    font-family: "Fraunces", sans-serif;
    text-transform: uppercase;
    color:hsl(210, 4%, 67%);
    font-size: 1.3rem;
    letter-spacing: .3rem;
}

.testimonial-profile-img{
    border-radius: 50%;
    width: 70px;
}
.description-testimonial{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
    font-family: 'Barlow', sans-serif;
    color:hsl(213, 9%, 39%);
}
.name-testimonial{
    font-family: "Fraunces", sans-serif;
    color: hsl(212, 27%, 19%);
    font-size: 1.2rem;
}

.ocupation-testimonial{
    color:hsl(210, 4%, 67%);
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    margin-top: .8rem;
}


/* IMAGES */
.images{
    display: flex;
    flex-wrap: wrap;

}
.imgs{
    width: 25%;
}

/* FOOTER */
footer{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: hsl(168, 34%, 41%);
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;

}
.logo-footer{
    color: hsl(167, 40%, 24%);
}

.footer-title{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;

}

.link{
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    margin: .5rem;
}

.social-media-icons{
    margin: .5rem;
    width: 1rem;
}
.link:hover{
    color: white;
    transition: .4s;
}
.social-media-icons:hover{
    transition: .4s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(149deg) brightness(150%) contrast(150%);
}
.hamburger {
    display: none;
  }
  

@media (max-width: 800px) { 

    .logo{
        width: 10rem;
    }
    .hamburger {
        display:block;
      }
    .navbar {
        background: white;
        display: none;
        position: absolute;
        padding: 2rem;
        margin: 3rem 0.5rem;
        line-height: 2;
        text-align: center;
        top: 40px;
        width: 95%;
        z-index: 1;
        right: 4%;
      }
      .navbar::before {
        content: "";
        background: white;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: -2rem;
        right: 0;
        -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
      }
      .navbar__active {
        display: block;
      }
      .navbar__link, .navbar__link--btn {
        color: #0b0a0a;
        font-size: 1.2rem;
      }
      .navbar__link--btn {
        background: #fad400;
      }
      .navbar__item {
        margin: 1.5rem;
      }
    .container, .container-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-3{
        flex-direction: column;
    }
    .over-the-fold-h{
        font-size: 4rem;
        text-align: center;
    }

    .contenedor-info{
        padding: 2rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .description{
        line-height: 1.7rem;
        font-size: 18px;
    }

    .section-title-2{
        margin-top: 50%;
    }
    .description-2{
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.7rem;
        font-size: 18px;
    }
    /* TESTIMONIALS */
    .testimonials-container{
        flex-direction: column;
        padding: 4rem 1rem 4rem 1rem;
    }
    .description-testimonial{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .ocupation-testimonial{
        margin-bottom: 3rem;
    }
    .testimonials{
        margin: 3rem 0 3rem;
    }

    /* imgs */
    .imgs{
        width: 50%;
    }
}

    /* NAVBAR */
  


/* - Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */